/* Try different box model properties below */
.pages__page {
  border: 1px solid #4491db;
  border-radius: 4px;
  background: #fff;
}
ul.countries{
  width:140;
  height:150;
  margin:10;
  padding:200;
  border:1px solid red
}