/* Try different box model properties below */

.site-footer{
    font-size:12px;
    text-align:center;
}

.message--unread{
box-shadow:4px 4px 0 #dba944;
}

.message__content{
    color:black
}

p{
    color:white
}